/*Reset all */
* {
    margin: 0;
    padding: 0;
    }
section{
    max-width: 94vw;
    margin: auto;
}
/*Communs disposition values*/
:root{
--standartspace:0.9em;
--content-padding:5px;
}
/*Communs Colors images*/
:root{
    --main-dark-color:#333;
    --main-clear-color:#f5F5F5;
    --neutral-grey:#808080;
    /*Autres blancs possibles
     #FAFAFA ou #EAEAEA*/
    --bic-bleu : #0000FF;
    --bic-noir : #000000;
    --bic-rouge : #FF0000;
    --bic-vert : #008000;
    --rs-bckgrnd-img:url("../img/deco/logo-rs_30px.png");
    --first-color:var(--bic-rouge);
}
/*Fonts*/
@font-face{
    font-family:"myTitleFont";
    src:
    url("./fonts/Roboto-Thin.ttf"),
   /* url("./fonts/Roboto-Thin.otf"),
    url("./fonts/Roboto-Thin.wof");*/
}
/*Use this font with this line => font-family: myTitleFont;*/
@font-face{
    font-family:'myFirstFont';
    src:
    url("./fonts/Roboto-Light.ttf"),
    /*url("./fonts/GT-Eesti-Display-Regular.otf"),
    url("./fonts/GT-Eesti-Display-Regular.wof");*/
}
/*Use this font with this line => font-family: myFirstFont;*/
body{
    font-family: "myFirstFont";
}
h1{
    font-family: myTitleFont;
    text-align: center;
    color: var(--bic-rouge);
}
h2{
    color: var(--bic-rouge);
    font-family: "myTitleFont";
    text-align: center;
}

h2{
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
h3{
    font-size: 1.2em;
    font-weight: lighter;
}
